.task-form {
    text-align: center;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .task-list li {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  .task-list li input[type="checkbox"] {
    margin-right: 10px; /* Add spacing between checkbox and text */
    size: 15px;
  }
  
  .editBtn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  
  .editBtn:hover::before {
    transform: scale(1);
  }
  
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  
  .editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 19px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }
  
  #delete{
    margin-left:auto ;
    margin-right: 0px;
  }

  #taskName {
    text-decoration: none; /* Initial style */
  }

  .cardDetails {
    width: 390px;
    background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
    border-radius: 7px;  
    padding: 20px;
   }

   .task-list li input[type="checkbox"]:checked + label {
    color: blue; /* Change text color to blue when checkbox is checked */
  }
  
  .task-list li label {
    display: flex;
    align-items: center;
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .task-list li h4 {
    margin-left: 36px;
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Apply bold font weight */
    color: #333; /* Apply text color */
  }
  
  .task-list li h4:hover {
    text-decoration: underline; /* Underline text on hover */
  }